name: Docusarus Test Deploy

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Test Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Base Repo
        uses: actions/checkout@v3
      - name: PNPM Initialization
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Setup Node Environment
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'pnpm' 
      
      - name: Install dependencies
        working-directory: ./Zer0CampDocs
        run: pnpm install --frozen-lockfile
      
      - name: Test Build Website
        working-directory: ./Zer0CampDocs
        run: pnpm build
